<div class='article-list'>
	<%= link_to article do %>
		<div class='article-list-image'>
			<%= image_tag article.image.thumb.url %>
		</div>
		<div class='article-list-info'>
			<h3><%= article.title %></h3>
			<p>By <%= article.author %></p>
		</div>
	<% end %>
</div>