<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-writers"><%= link_to "Writers", casein_writers_path %></li>
<li id="tab-articles"><%= link_to "Articles", casein_articles_path %></li>