<div class='welcome-container'>
	<div class='column-70'>
		
		<div class='featured-article'>
			<%= image_tag 'http://globalvillageextra.com/wp-content/uploads/2014/06/EPL_Logo.jpg', class: 'featured-image' %>
			<h2>English Premier League Preview</h2>
			<p>Breaking down the winners and losers of the offseason, and of course some predictions...</p>
			<h5>By Anthony Rigato</h5>
		</div>
	</div>
	<div class='column-30'>
		<div class='birthday-container'>
			<%= image_tag '/img/birthday.png', class: 'birthday-hat' %>
			<h2>Happy Birthday to Arturs Urbe!</h2>
			<p>The world would not be the same if this man had never graced it's presence.</p>
		</div>
		<div class='twitter'>
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SPORTSnSTUFFpod" data-widget-id="484161539394379776">Tweets by @SPORTSnSTUFFpod</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>