<h2 class='writers-header'>The Team</h2>
<% @writers.each do |writer| %>
	<div class='writer-list'>
		<%= link_to writer do %>
			<div class='writer-list-image'>
				<%= image_tag writer.avatar.medium.url, class: 'writer-image' %>
			</div>
			<div class='writer-list-info'>
				<h3><%= writer.name %></h3>
				<p>Specialty: <%= writer.specialty %></p>
			</div>
		<% end %>
	</div>
<% end %>
</div>