.form {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.new-article {
	text-align: center;
}

.form-item {
	width: 100%;
}

.form-label {
	width: 30%;
}

.form-input {
	width: 70%;
	right: 0;
}