.articles-container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.article-list {
	position: relative;
	width: 600px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: 600px) {
		width: 100%;
	}

	a:hover {
		color: #1abc9c;
	}
}

.article-list-image {
	text-align: center;
	position: absolute;
	left: 0;
	width: 30%;
}

.article-list-info {
	position: absolute;
	right: 0;
	width: 70%;

	h3 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}



.article-container {
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	p {
		text-align: left;
	}
}