.podcast-container {
	text-align: center;
}

.podcast-links {

	a {
		color: #1abc9c;

		&:visited {
			color: #1abc9c;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.podcast-list-container {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media screen and (max-width: 600px) {
		display: none;
	}
	clear:both;
}

.podcast-title {
	position: absolute;
	width: 50%;
	left: 0;
	height: 100px;

	h3 {
		margin: 0;
	}
}

.podcast-buttons {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100px;

	a {
		position: relative;
		top: 50%;
		color: white;

		&:visited {
			color: white;
		}
	}
}