.welcome-container {
	position: relative;
}

.column-70 {
	position: relative;
	top: 0;
	left: 0;
	width: 70%;
}

.column-30 {
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
}

.secondary-articles {
	text-align: center;
	padding: 5px;
	width: 30%;
	height: 400px;
	float: left;
}

.featured-image {
	height: 400px;
	overflow: hidden;
}

.birthday-container {
	background-color: #ecf0f1;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
}

.poll-container {
	background-color: #ecf0f1;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 5px;
	padding: 10px;

	li {
		text-align: left;
	}
}

a {
	h2, p, h5 {
		color: black;
	}
}


.featured-article {
	margin: 20px;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid black;
}

.birthday-hat {
	height: 100px;
}