.writers-header {
	text-align: center;
}

.writer-list {
	position: relative;
	width: 600px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: 600px) {
		width: 100%;
	}

	a {
		color: black;

		&:hover {
			color: #1abc9c;
		}
	}
}

.writer-list-image {
	position: absolute;
	width: 50%;
	left: 0;
	text-align: right;
}

.writer-list-info {
	position: absolute;
	width: 50%;
	right: 0;

	h3 {
		margin: 0;
		margin-top: 20px;
	}

	p {
		margin: 0;
	}
}

.writer-article-list {
	padding: 0;

	li a:hover {
		color: #1abc9c;
	}
}

.writer-image {
	margin: 10px;
	display: inline;
}

.writer-info {
	border: 1px solid #95a5a6;
	padding: 10px;
	border-radius: 5px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}